* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #f5f2f0;
  height: 100vh;
  width: fit-content;
}

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
}

.primary {
  height: 100vh;
  width: 600px;
}

.show {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 53px;
  left: 960px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.item {
  margin-right: 100px;
  color: #636363;
  font-size: 15px;
  font-weight: bold;
}

.line1 {
  background-color: black;
  height: 2px;
  width: 300px;
  position: absolute;
  top: 60px;
  left: 650px;
}

.line2 {
  background-color: black;
  height: 2px;
  width: 150px;
  position: absolute;
  top: 60px;
  left: 1520px;
}

.social {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 100px;
  left: 1600px;
}

.icons {
  height: 35px;
  width: 35px;
  margin-top: 50px;
}

.services {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 550px;
  left: 700px;
  list-style: none;
  font-size: 20px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.service {
  color: #333333;
  font-weight: bold;
  padding: 2px;
  margin: 10px;
}

.btn {
  background-color: #333333;
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 15px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 470px;
  left: 1450px;
}

.comma {
  height: 70px;
  color: #333333;
}

.secondary {
  height: 200px;
}

.sentence {
  font-size: large;
  font-weight: bold;
  color: #333333;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 480px;
  left: 1000px;
}

.lowers {
  margin: 5px;
}

.arrow {
  height: 50px;
  position: absolute;
  top: 700px;
  left: 1600px;
}

.head1 {
  font-family: Bookman, URW Bookman L, serif;
  position: absolute;
  top: 90px;
  left: 700px;
  font-size: 200px;
  color: #f5f2f0;
  -webkit-text-stroke: 2px black;
}

.head2 {
  font-family: Bookman, URW Bookman L, serif;
  position: absolute;
  top: 250px;
  left: 850px;
  font-size: 200px;
  color: #333333;
}

.sub-line {
  font-family: Bookman, URW Bookman L, serif;
  position: absolute;
  top: 350px;
  left: 1370px;
  font-size: 40px;
  color: #858585;
}

.discs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 550px;
  left: 648px;
}

.disc {
  background-color: #333333;
  margin: 13px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.line-end {
  position: absolute;
  top: 563px;
  left: 670px;
  height: 190px;
  width: 2px;
  background-color: #333333;
}

/* MEDIA QUERY */
@media screen and (max-width: 500px) {
  * {
    margin: 0%;
    padding: 0%;
  }

  body {
    background-color: #f5f2f0;
    height: 100vh;
    width: fit-content;
  }

  .logo {
    height: 100px;
    position: absolute;
    top: 50px;
    left: 100px;
  }

  .primary {
    height: 150vh;
    width: 1700px;
  }

  .show {
    list-style: none;
    display: flex;
    font-size: 50px;
    width: fit-content;
    flex-direction: row;
    position: absolute;
    top: 1000px;
    left: 500px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

  .item {
    margin-right: 100px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
  }

  .line1 {
    background-color: black;
    height: 4px;
    width: 500px;
    position: absolute;
    top: 1025px;
    left: 0px;
  }

  .line2 {
    background-color: black;
    height: 4px;
    width: 400px;
    position: absolute;
    top: 1025px;
    left: 1300px;
  }

  .social {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 1700px;
    justify-content: center;
    position: absolute;
    top: 2000px;
    left: 00px;
  }

  .icons {
    height: 70px;
    width: 70px;
    padding: 50px;
  }

  .services {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1500px;
    left: 850px;
    list-style: none;
    font-size: 30px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

  .service {
    color: #333333;
    font-weight: bold;
    padding: 2px;
    margin: 10px;
  }

  .btn {
    background-color: #333333;
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 30px;
    width: max-content;
    padding: 20px 40px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 2100px;
    left: 100px;
  }

  .comma {
    height: 70px;
    color: #333333;
  }

  .secondary {
    height: 200px;
  }

  .sentence {
    font-size: 30px;
    width: max-content;
    font-weight: bold;
    color: #333333;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

  .lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 1450px;
    left: 100px;
  }

  .lowers {
    margin: 5px;
  }

  .arrow {
    height: 100px;
    position: absolute;
    top: 2070px;
    left: 1400px;
  }

  .head1 {
    font-family: Bookman, URW Bookman L, serif;
    position: absolute;
    top: 1050px;
    left: 100px;
    font-size: 300px;
    color: #f5f2f0;
    -webkit-text-stroke: 2px black;
  }

  .head2 {
    font-family: Bookman, URW Bookman L, serif;
    position: absolute;
    top: 1050px;
    left: 850px;
    font-size: 300px;
    color: #333333;
  }

  .sub-line {
    font-family: Bookman, URW Bookman L, serif;
    position: absolute;
    top: 1380px;
    left: 1300px;
    font-size: 70px;
    color: #858585;
  }

  .discs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1500px;
    left: 800px;
  }

  .disc {
    background-color: #333333;
    margin: 23px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .line-end {
    position: absolute;
    top: 1525px;
    left: 830px;
    height: 280px;
    width: 4px;
    background-color: #333333;
  }
}
